/* <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lato&family=Montserrat&family=Oxygen&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet"> */
/* <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lato&family=Montserrat&family=Oxygen&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet">
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
}

.navbar {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 20px ;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #03c4a1;
}

.heading-content{
  position: absolute;
  /* left: 30%; */
  top: 30%;
  width: 100%;
  max-width: 100%;
}

.heading-content h5{
  color: #fff;
  font-size: 3em;
  font-weight: 300;
  font-family: 'IBM Plex Mono', monospace;
}

.heading-content h1{
  color: #fff;
  font-size: 6em;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.heading-content p{
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: lighter;
  word-spacing: 5px;
  letter-spacing: 4px;
}

.profpic{
  width: 50%;
  position: relative;
  left: 80px;
  bottom: 1px;

  }

  /* about css */

  #about .btn{
    border: 2px solid trasparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px;
  }

  #about .btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform :uppercase;

  }

  #about .btn:hover{
    border: 2px solid #1ebba3;
    cursor: pointer;

  }

  /* skills */


.chart{
  margin: 50px auto;
  width: 600px;
  height: 400px;
  position: relative;

}

#profpic .button{
  align-items: center;
}

/* projects */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;

}

.offset::before{
  display: block;
  content: "";
  height: 6rem;
}

/* media query */

@media screen and (max-width: 767px) {
  .navbar {

    letter-spacing: 0.1rem;
    padding: 10px ;

  }
  .heading-content h5{

    font-size: 3em;
      }

  .heading-content h1{

    font-size: 3em;

  }

  .heading-content p{

    font-size: 0.9em;

  }

}


@media screen and (max-width: 479px) {
  .heading-content{

    top: 10%;
  }
  .navbar {

    letter-spacing: 0.1rem;
    padding: 7px ;

  }
  .heading-content h5{

    font-size: 2em;
      }

  .heading-content h1{

    font-size: 2em;

  }

  .heading-content p{

    font-size: 0.7em;

  }

}
